<%- include('./header') %>
<div id="root">
    <div class="body-wrap" style="">
        <main class="main">
            <div class="middle-section ms-width">
                <div class="Home-wrapper">
                    <%- include('./topnav') %>
                    <div class="post-header-wrapper back_sec"><div class="back_btn"><span class="middle-header-content">Terms of Services</span></div></div>
                    <div style="text-align:center;">
                    	<h1 style="text-align:center;padding-top: 30px;">Terms of Services</h1>
                        <div style="text-align: left;padding:25px">
                        	<p>
                             TipMeACoffee is a decentralized social media platform where you can share content under certain parameters as given below. Violating these terms may damage your account on (tip me a coffee) platform.   
                            </p><br>
                            <li>You can not share content which is related to spam, API abuse and platform manipulation.</li>
                            <li>You can not post content that harms ethical rights of any other individual or any organization.</li>
                            <li>You can not post content that harm religious values of other users</li>
                            <li>You can not post content that is related to harassment, violence, criminal actions, and abuses.</li>
                            <li>You can post content that is relates to pornography</li>
                            <li>You can not post that violates laws described under cybercrime agencies of given locations.</li><br>
                            <p>You must abide by all these terms to make sure that tip me a coffee in its ethical values remains a true social platform for all community members. Any account violating any of the above terms will have to bear consequences with any notice.<br><br><b>TipMeACoffee Team</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./rnav', {category: category}) %>
        </main>
        <%- include('./lnav') %>
    </div>
</div>
<%- include('./footer') %>