<%- include('./common/header2') %>
<div id="root">
	<div class="body-wrap" style="">
		<main class="main">
			<div class="middle-section ms-width">
				<div class="Home-wrapper">
					<%- include('./common/topnav2') %>
					<div class="home_rev">
						<%- include('./common/home2')%>
					</div>
					<%- include('./common/botnav') %>
				</div>
			</div>
		</main>
	</div>
</div>

<%- include('./common/footer') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
	var mainT = function() {
        window.scrollTo(0,document.body.scrollHeight);
    }
    $(document).ready(mainT);
	$('.add_post2').click(function() {
		$(".add_post2").attr("disabled", true);$('.add_post2').hide();$('.load-pub').show();
		var content = $("#url_field").val();
    	if(($.trim(content).length) < 60){toastr['error']("Minimum text 60 characters!");$(".add_post2").attr("disabled", false);$('.add_post2').show();$('.load-pub').hide();return false}
    	if(($.trim(content).length) > 210){toastr['error']("Max text 180 characters!");$(".add_post2").attr("disabled", false);$('.add_post2').show();$('.load-pub').hide();return false}
    	var urlRegex = /(((https?:\/\/)|(www\.))[^\s]+)/g;
    	//var urlR = /((https?:\/\/)?[\w-]+(\.[\w-]+)+\.?(:\d+)?(\/\S*)?)/gi;
    	if(content.match(urlRegex)){toastr['error']("Link sharing not allowed!");$('.add_post_txt').html('Post');$(".add_post").attr("disabled", false);$('.add_post2').show();$('.load-pub').hide(); return false}
    	var hashregex=/(^|\B)#(?![0-9_]+\b)([a-zA-Z0-9_]{1,30})(\b|\r)/g;
    	var tags=content.match(hashregex);
  		if(!tags || tags.length<2){toastr['error']("Add atleast 2 tags");$('.add_post_txt').html('Post');$(".add_post").attr("disabled", false);$('.add_post2').show();$('.load-pub').hide(); return false}
  		if(tags){var metatags = (tags.map(s => s.slice(1))).join(' ');metatags=metatags.toLowerCase();}
  		let formData = new FormData();
  		formData.append('tags', metatags);formData.append('description', content);formData.append("type", '3');
  		$.ajax({url: '/postlinks',type: 'POST',contentType: false,processData: false,data: formData,success: function(data)  {
      		if (data.error == false) {$('#url_field').val('');$(".add_post").attr("disabled", true);$('.add_post2').show();$('.load-pub').hide();toastr['success']("Published!");
      		} else {toastr['error'](data.message);$(".add_post").attr("disabled", false);$('.add_post2').show();$('.load-pub').hide();return false;
      	} 
    } 
  });
});
</script>