<%- include('./common/header2') %>
<div id="root">
    <div class="body-wrap" style="">
        <main class="main">
            <div class="middle-section ms-width">
                <div class="Home-wrapper">
                    <%- include('./common/topnav2') %>
                    <div class="post-header-wrapper back_sec"><div class="back_btn"><span class="middle-header-content">Wallet</span></div></div>
                    <div class="offset-lg-1 col-lg-5 col-md-6 wallet_content">
                        <div class="user-connected-form-block">
                            <div class="wallet_bal_Sec">
                                <h4 class="inp_text user_bal_amt"><%- (acct.balance)/1000000 %></h4><span class="wallet_tok">TMAC</span>
                            </div>
                            <div class="col user-connected-from wl-btns">
                                <button type="button" class="btn btn-default wallet_main_btn" id="transfer_btn">Transfer</button>
                                <button type="button" class="btn btn-default wallet_main_btn withd_btn">Withdraw <img class="bsc-logo" src="images/bsc-logo.png" alt="BSC"></button>
                            </div>
                            <div class="tmac_meta"><a onclick="addToken()">Add TMAC to MetaMask</a></div>
                        </div>
                    </div>
                    <div class="wallet_stats_sec">
                        <div class="wallet_stats_data">
                            <span><h4><span class="inc-icn">
                                <svg x="0px" y="0px" width="88.408px" height="88.408px" viewBox="0 0 88.408 88.408"><g><polygon points="67.41,0 34.256,0 20.999,47.732 34.283,47.732 22.988,88.408 26.967,88.408 65.418,40.674 45.939,40.674"/></g></svg>
                                </span> Income Today</h4></span><span><%- (earnToday.data.dist)/1000000 %></span>
                        </div>
                        <div class="wallet_stats_data">
                            <span><h4><span class="inc-icn">
                                <svg version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 487.3 487.3" xml:space="preserve"><g><g><g><path d="M479.2,290.55c-27.3-22.5-56.8-37.4-62.8-40.3c-0.7-0.3-1.1-1-1.1-1.8v-42.5c5.3-3.6,8.9-9.6,8.9-16.6v-44.1c0-21.9-17.8-39.7-39.7-39.7h-4.7h-4.7c-21.9,0-39.7,17.8-39.7,39.7v44.1c0,6.9,3.5,13,8.9,16.6v42.5c0,0.8-0.4,1.4-1.1,1.8c-3.7,1.8-16.5,8.2-32.1,18.2c15.6,8.6,40.3,23.4,63.6,42.6c8.2,6.7,13.6,16,15.6,26.2h97v-30.2C487,300.65,484.2,294.55,479.2,290.55z"/></g><g><path d="M144,250.25c-0.7-0.3-1.1-1-1.1-1.8v-42.5c5.3-3.6,8.9-9.6,8.9-16.6v-44.1c0-21.9-17.8-39.7-39.7-39.7h-4.7h-4.9c-21.9,0-39.7,17.8-39.7,39.7v44.1c0,6.9,3.5,13,8.9,16.6v42.5c0,0.8-0.4,1.4-1.1,1.8c-6,2.9-35.5,17.8-62.8,40.3c-4.9,4.1-7.8,10.1-7.8,16.5v30.2h97c1.9-10.2,7.4-19.5,15.6-26.2c23.3-19.2,48-34,63.6-42.6C160.5,258.45,147.7,252.05,144,250.25z"/></g><g><path d="M362.1,326.05c-32.6-26.8-67.7-44.5-74.9-48c-0.8-0.4-1.3-1.2-1.3-2.1v-50.7c6.4-4.3,10.6-11.5,10.6-19.7v-52.6c0-26.2-21.2-47.4-47.4-47.4h-5.6h-5.7c-26.2,0-47.4,21.2-47.4,47.4v52.6c0,8.2,4.2,15.5,10.6,19.7v50.7c0,0.9-0.5,1.7-1.3,2.1c-7.2,3.5-42.3,21.3-74.9,48c-5.9,4.8-9.3,12.1-9.3,19.7v36h111.1l11-50.3c-22.2-30.9,1.7-32.4,5.8-32.5l0,0l0,0c4.2,0,28,1.5,5.8,32.5l11,50.3h111.1v-36C371.4,338.15,368,330.85,362.1,326.05z"/></g></g></g></svg>
                            </span> My Affiliates</h4></span><span><%- acct.refCount %></span>
                        </div>
                        <hr class="wallet_stats_hr">
                    </div>
                    <div class="col wallet_txt_Sec">
                        <div>
                            <h4 class="m-0"><small>My Affiliate Link</small></h4>
                            <small class="queue-stats-display text-muted"><b><a href="https://tipmeacoffee.com/welcome/<%- acct.name %>">https://tipmeacoffee.com/welcome/<%- acct.name %></a></b></small><br>
                            <small>You earn 0.05 TMAC for each like on the posts of your referrals</small>
                        </div>
                        <hr class="wallet_hr">
                        <div>
                            <h4 class="m-0"><small>Boost Posts</small></h4>
                            <small class="queue-stats-display text-muted">You can boost any of your posts to top rankings on TipMeACoffee main page by bidding. Your post will remain ranked untill it becomes a day old from the time of posting.</small><br>
                            <span class="boost_sec"><button type="button" class="boost_btn" disabled>Boost</button></span>
                        </div>
                    </div>
                    <div class="explore-nav-menu">
                        <div class="explore-nav-item trans_tab activeTab">Activity</div>
                        <div class="explore-nav-item keys_tab">Keys</div>
                    </div>
                    <div id="trans_sec">
                        <table class="table tanx_table">
                            <tbody><% activities.forEach(function(activity) { %>
                                <tr><% if(activity.type == 3 && activity.sender == loguser) { %>
                                    <td><img src="https://img.icons8.com/ios/20/1d9bf0/send-letter--v1.png"/></td>
                                    <td>To <a href="/profile/<%-activity.data.receiver%>"><%-activity.data.receiver%></a></td>
                                    <td class="f_rite"><%- -(activity.data.amount)/1000000 %> TMAC</td>
                                    <%  } else if(activity.data.receiver == loguser) { %>
                                    <td><img src="https://img.icons8.com/ios/20/1d9bf0/low-importance.png" class="vert_mid"></td>
                                    <td>From <a href="/profile/<%-activity.sender%>"><%-activity.sender%></a></td>
                                    <td class="f_rite"><%- +(activity.data.amount)/1000000 %> TMAC</td>
                                    <%  } else if(activity.type == 13) { %>
                                    <td><img src="https://img.icons8.com/ios/20/1d9bf0/circled-right-2.png" class="vert_mid"></td>
                                    <td>Boost Post <a href="/post/<%-activity.sender%>/<%-activity.data.link%>" target="_blank"><img src="https://img.icons8.com/material-outlined/10/1da1f2/link.png" class="vert_mid"></a></td>
                                    <td class="f_rite"><%- -(activity.data.burn)/1000000 %> TMAC</td>
                                    <%  } else if(activity.type == 23) { %>
                                    <td><img src="https://img.icons8.com/ios/20/1d9bf0/send-letter--v1.png" class="vert_mid"></td><td><a href="https://breezescan.io/tx/<%-activity.hash%>" target="_blank">Withdrawal</a></td><td class="f_rite"><%- -(activity.data.amount)/1000000 %> TMAC</td><% } %>
                                </tr><% }) %>
                            </tbody>
                        </table>
                    </div>
                    <div id="keys_sec" style="display: none;">
                        <h3 class="act_keys_title">Account Master Keys</h3>
                        <form class="user-connected-from">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"><div class="input-group-text mb-deck wel_deck"><span><img src="https://img.icons8.com/windows/24/000000/gender-neutral-user.png"/></span></div></div><input type="text" value="<%-pubKey%>" class="form-control" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"><div class="input-group-text mb-deck wel_deck"><span><img src="https://img.icons8.com/windows/24/000000/lock.png"/></span></div></div><input id="pass-input" type="password" value="<%-wifKey%>" class="form-control" />
                                <div class="input-group-append" onclick="showPass()"><div class="input-group-text mb-deck wel_deck keys_data"><span><img src="https://img.icons8.com/material-outlined/24/000000/visible.png"/></span></div></div>
                                <div class="input-group-append" onclick="showQrc()"><div class="input-group-text mb-deck wel_deck keys_data"><span><img src="https://img.icons8.com/material-sharp/24/000000/qr-code.png"/></span></div></div>
                            </div>
                            <div class="wel_sec"><div class="Nav-entry-link keys_gen_btn"><span class="Nav-main-btn gen_btn_txt">Generate New Keys</span></div></div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div class="modal-edit modal-transfer" style="display:none;">
    <div class="modal-content">
        <div class="modal-header"><p class="modal-title">Transfer</p>
            <div class="modal-closeIcon"><div class="modal-closeIcon-wrap"><svg version="1.1" id="Capa_1" x="0px" y="0px" width="94.926px" height="94.926px" viewBox="0 0 94.926 94.926" xml:space="preserve"><g><path d="M55.931,47.463L94.306,9.09c0.826-0.827,0.826-2.167,0-2.994L88.833,0.62C88.436,0.224,87.896,0,87.335,0c-0.562,0-1.101,0.224-1.498,0.62L47.463,38.994L9.089,0.62c-0.795-0.795-2.202-0.794-2.995,0L0.622,6.096c-0.827,0.827-0.827,2.167,0,2.994l38.374,38.373L0.622,85.836c-0.827,0.827-0.827,2.167,0,2.994l5.473,5.476c0.397,0.396,0.936,0.62,1.498,0.62s1.1-0.224,1.497-0.62l38.374-38.374l38.374,38.374c0.397,0.396,0.937,0.62,1.498,0.62s1.101-0.224,1.498-0.62l5.473-5.476c0.826-0.827,0.826-2.167,0-2.994L55.931,47.463z"/></g></svg></div></div>
        </div>
        <div class="modal-body">
            <form class="edit-form wal_form">
                <div class="input-group mb-3 edit-input-wrap">
                    <div class="input-group-prepend"><div class="input-group-text mb-deck wel_deck"><span>To</span></div></div><input type="text" name="rec_user" id="rec_user" placeholder="Username" class="form-control" />
                </div>
                <p class="trans_bal">Balance: <%- (acct.balance)/1000000 %></p>
                <div class="input-group mb-3 edit-input-wrap">
                    <div class="input-group-prepend"><div class="input-group-text mb-deck wel_deck"><span>Amount</span></div></div><input type="text" name="trans_amount" id="trans_amount" placeholder="" class="form-control" />
                    
                </div>
                <div class="input-group mb-3 edit-input-wrap">
                    <div class="input-group-prepend"><div class="input-group-text mb-deck wel_deck"><span>Memo</span></div></div><input type="text" name="trans_memo" id="trans_memo" placeholder="Memo is Public" class="form-control" />
                </div>
            </form>
            <div class="save-modal-wrapper">
                <button class="save-modal-btn trans_btn w_btn" type="button"><span class="trans_txt">Transfer</span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal-edit modal-boost" style="display:none;">
    <div class="modal-content min-h-auto">
        <div class="modal-header"><p class="modal-title">Boost Post</p>
            <div class="modal-closeIcon"><div class="modal-closeIcon-wrap boost-close"><svg version="1.1" id="Capa_1"  x="0px" y="0px" width="94.926px" height="94.926px" viewBox="0 0 94.926 94.926" xml:space="preserve"><g><path d="M55.931,47.463L94.306,9.09c0.826-0.827,0.826-2.167,0-2.994L88.833,0.62C88.436,0.224,87.896,0,87.335,0c-0.562,0-1.101,0.224-1.498,0.62L47.463,38.994L9.089,0.62c-0.795-0.795-2.202-0.794-2.995,0L0.622,6.096c-0.827,0.827-0.827,2.167,0,2.994l38.374,38.373L0.622,85.836c-0.827,0.827-0.827,2.167,0,2.994l5.473,5.476c0.397,0.396,0.936,0.62,1.498,0.62s1.1-0.224,1.497-0.62l38.374-38.374l38.374,38.374c0.397,0.396,0.937,0.62,1.498,0.62s1.101-0.224,1.498-0.62l5.473-5.476c0.826-0.827,0.826-2.167,0-2.994L55.931,47.463z"/></g></svg></div></div>
        </div>
        <div class="modal-body mb-30">
            <form class="edit-form wal_form">
                <div class="input-group mb-3 edit-input-wrap">
                    <div class="input-group-prepend"><div class="input-group-text mb-deck wel_deck"><span>URL</span></div></div><input type="text" name="boost_url" id="boost_url" placeholder="Enter URL" class="form-control" />
                </div>
                <p class="trans_bal">Post must not be older than 24 hours!</p>
                <div class="input-group mb-3 edit-input-wrap">
                    <div class="input-group-prepend"><div class="input-group-text mb-deck wel_deck"><span>Bid</span></div></div><input type="text" name="boost_amount" id="boost_amount" class="form-control" />
                </div>
                <p class="trans_bal"><span class="min_boost"></span></p>
            </form>
            <div class="save-modal-wrapper">
                <button type="button" class="save-modal-btn boost_post_btn w_btn"><span class="boost_btn_txt">Boost</span></button>
            </div>
        </div>
    </div>
</div>
<div class="modal-edit modal-widr" style="display: none;">
    <div class="modal-content min-h-auto">
        <div class="modal-header">
            <p class="modal-title">Withdraw To BSC</p>
            <div class="modal-closeIcon"><div class="modal-closeIcon-wrap widr-close">
                <svg version="1.1" id="Capa_1" x="0px" y="0px" width="94.926px" height="94.926px" viewBox="0 0 94.926 94.926" xml:space="preserve"><g><path d="M55.931,47.463L94.306,9.09c0.826-0.827,0.826-2.167,0-2.994L88.833,0.62C88.436,0.224,87.896,0,87.335,0c-0.562,0-1.101,0.224-1.498,0.62L47.463,38.994L9.089,0.62c-0.795-0.795-2.202-0.794-2.995,0L0.622,6.096c-0.827,0.827-0.827,2.167,0,2.994l38.374,38.373L0.622,85.836c-0.827,0.827-0.827,2.167,0,2.994l5.473,5.476c0.397,0.396,0.936,0.62,1.498,0.62s1.1-0.224,1.497-0.62l38.374-38.374l38.374,38.374c0.397,0.396,0.937,0.62,1.498,0.62s1.101-0.224,1.498-0.62l5.473-5.476c0.826-0.827,0.826-2.167,0-2.994L55.931,47.463z"/></g></svg>
            </div></div>
        </div>
        <div class="modal-body mb-30">
            <form class="edit- wal_form">
                <p></p>
                <p class="trans_bal">Withdraw your TMAC tokens to wrapped on Binance Smart Chain</p>
                <div class="input-group mb-3 edit-input-wrap">
                    <div class="input-group-prepend"><div class="input-group-text mb-deck wel_deck"><span>Amount</span></div></div><input type="number" name="widr_amt" id="widr_amt" placeholder="Enter Amount to Withdraw" class="form-control" />
                </div>
                <p class="trans_bal">BNB Price [<%=bnbprice%> USD]</p>
                <div class="input-group mb-3 edit-input-wrap">
                    <div class="input-group-prepend"><div class="input-group-text mb-deck wel_deck"><span>BSC Address</span></div></div><input type="text" name="bsc_address" id="bsc_address" placeholder="Enter Binance Smart chain Address" class="form-control" />
                </div>
            </form>
            <center><p class="trans_bal">You will get <span class="pay_amt">0</span> on BSC chain (1% chain fee)</p></center>
            <div class="save-modal-wrapper">
                <button class="save-modal-btn widr_tok_btn w_btn" type="button"><span class="widr_btn_txt">Withdraw</span></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-edit" id="modal-qrc" style="display: none;">
    <div class="modal-content qrc_content">
        <div class="modal-body mb-30">
            <div id="qrcode"></div>
        </div>
    </div>
</div>

<div class="modal-edit modal-gen" style="display: none;">
    <div class="modal-content min-h-auto">
        <div class="modal-header"><p class="modal-title">Generate New Keys</p></div>
        <div class="modal-body mb-30">
            <form class="edit-form wal_form">
                <div class="input-group mb-3 edit-input-wrap">
                    <div class="input-group-prepend"><div class="input-group-text mb-deck wel_deck"><span><img src="https://img.icons8.com/windows/20/000000/gender-neutral-user.png"></span></div></div><input type="text" id="gen_pub" value="" class="form-control" />
                </div>
                <div class="input-group mb-3 edit-input-wrap">
                    <div class="input-group-prepend"><div class="input-group-text mb-deck wel_deck"><span><img src="https://img.icons8.com/windows/20/000000/lock.png"></span></div></div><input type="text" id="gen_priv" value="" class="form-control" />
                </div>
                <p class="trans_bal">Please make sure to save your keys before closing this modal as we won't be able to fetch in case you have lost!</p>
            </form>
            <div class="save-modal-wrapper">
                <div class="save-modal-btn gen-close w_btn">I have saved Keys!</div>
            </div>
        </div>
    </div>
</div>
<%- include('./common/footer') %>