<%- include('./common/header2') %>
<% function numFormatter(num) {
    if(num > 999 && num < 1000000){ return parseFloat((num/1000).toFixed(1)) + 'K'; 
    }else if(num > 1000000){ return parseFloat((num/1000000).toFixed(1)) + 'M'; 
    }else if(num < 900){return num; }
} %>
<div id="root">
    <div class="body-wrap" style="">
        <main class="main">
            <div class="middle-section ms-width">
                <div class="Home-wrapper">
                    <%- include('./common/topnav2') %><div class="post-header-wrapper back_sec"><div class="back_btn"><span class="middle-header-content"> Witnesses</span></div></div>
                    <div class="container-fluid">
                        <div class="witness-icon"><svg viewBox="0 0 463 463" style="enable-background:new 0 0 463 463;" xml:space="preserve"><g><path d="M447,405.234V241.766c9.29-3.138,16-11.93,16-22.266c0-7.023-3.101-13.332-8-17.641v-37.06c0-13.58-8.656-25.589-21.539-29.884l-20.649-6.882c-3.476-1.159-5.812-4.4-5.812-8.064v-2.976c9.805-10.174,16-25,16-41.491v-16c0-21.78-17.72-39.5-39.5-39.5h-16C345.72,20,328,37.72,328,59.5v16c0,16.491,6.195,31.317,16,41.491v2.976c0,3.665-2.336,6.905-5.812,8.064l-20.649,6.883c-5.601,1.867-10.4,5.195-14.039,9.473c-1.38-1.622-2.938-3.095-4.633-4.416c9.196-9.574,11.855-22.34,11.987-23.001c0.44-2.204-0.13-4.488-1.554-6.226c-1.425-1.738-3.553-2.745-5.8-2.745c-9.098,0-16.5-7.402-16.5-16.5v-24c0-30.603-24.897-55.5-55.5-55.5S176,36.897,176,67.5v24c0,9.098-7.402,16.5-16.5,16.5c-2.247,0-4.375,1.007-5.8,2.745c-1.425,1.738-1.995,4.022-1.555,6.226c0.132,0.661,2.791,13.427,11.987,23.001c-1.695,1.321-3.253,2.793-4.633,4.416c-3.639-4.278-8.438-7.606-14.039-9.473l-20.649-6.882c-3.476-1.159-5.812-4.4-5.812-8.064v-2.976c9.805-10.174,16-25,16-41.491v-7.936c0-0.006,0-0.011,0-0.017V51.5c0-17.369-14.131-31.5-31.5-31.5h-32c-17.264,0-31.322,13.961-31.492,31.186c-0.001,0.031-0.001,0.062-0.002,0.092C40.005,51.352,40,51.426,40,51.5v24c0,16.491,6.195,31.317,16,41.491v2.976c0,3.665-2.336,6.905-5.812,8.064l-20.649,6.883C16.656,139.209,8,151.218,8,164.798v37.06c-4.899,4.31-8,10.619-8,17.641c0,10.336,6.71,19.128,16,22.266v163.469c-9.29,3.138-16,11.93-16,22.266C0,440.458,10.542,451,23.5,451h416c12.958,0,23.5-10.542,23.5-23.5C463,417.164,456.29,408.372,447,405.234z M31,404V243h401v161H31z M440,164.798v31.214c-0.167-0.004-0.332-0.013-0.5-0.013H423v-8.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v8.5h-25v-27.958c6.732-3.718,20.019-11.92,30.167-23.63c0.1-0.116,0.187-0.237,0.279-0.357l15.271,5.09C435.466,151.394,440,157.685,440,164.798z M357.908,127.038c5.445,2.547,11.378,3.962,17.592,3.962c6.214,0,12.147-1.416,17.592-3.962c1.223,3.883,3.437,7.36,6.394,10.114c-8.422,8.747-18.836,15.054-23.992,17.892c-5.151-2.828-15.532-9.107-23.981-17.891C354.47,134.398,356.685,130.921,357.908,127.038z M343,59.5c0-13.509,10.991-24.5,24.5-24.5h16c13.509,0,24.5,10.991,24.5,24.5v16c0,22.332-14.58,40.5-32.5,40.5S343,97.832,343,75.5V59.5zM322.282,149.145l15.271-5.09c0.092,0.12,0.179,0.242,0.28,0.357c10.149,11.71,23.435,19.913,30.167,23.63V196h-25v-8.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v8.5h-17v-31.202C311,157.685,315.534,151.394,322.282,149.145z M293.546,121.389c-1.908,4.072-5.015,8.848-9.803,11.62l-14.931-4.977c-3.476-1.159-5.812-4.4-5.812-8.064v-2.976c4.279-4.44,7.867-9.766,10.554-15.732C276.647,110.726,284.106,118.237,293.546,121.389z M199,70.978c14.503,4.575,30.982,5.854,44.769,5.854c7.936,0,14.971-0.419,20.222-0.865C263.788,98.083,249.295,116,231.5,116c-17.92,0-32.5-18.168-32.5-40.5V70.978z M213.908,127.038c5.445,2.547,11.378,3.962,17.592,3.962c6.214,0,12.147-1.416,17.592-3.962c1.704,5.413,5.326,10.048,10.215,13.012c-5.449,8.318-18.033,20.758-27.808,29.499c-9.775-8.737-22.361-21.177-27.808-29.498C208.581,137.087,212.203,132.451,213.908,127.038z M231.5,27c19.801,0,36.318,14.288,39.809,33.094c-2.631,0.36-50.301,6.617-77.388-7.268c-0.044-0.023-0.09-0.039-0.134-0.061C199.694,37.7,214.366,27,231.5,27z M189.446,101.259c2.688,5.966,6.275,11.292,10.554,15.732v2.976c0,3.665-2.336,6.905-5.812,8.064l-14.931,4.977c-4.789-2.773-7.897-7.551-9.804-11.619C178.894,118.237,186.353,110.727,189.446,101.259z M178.282,149.145l11.15-3.717c8.641,15.303,34.16,37.198,37.216,39.791c1.4,1.188,3.125,1.781,4.852,1.781c1.726,0,3.453-0.594,4.852-1.781c3.057-2.593,28.569-24.48,37.216-39.791l11.15,3.717c6.748,2.249,11.282,8.54,11.282,15.653V196h-17v-8.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v8.5h-65v-8.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v8.5h-17v-31.202C167,157.685,171.534,151.394,178.282,149.145z M87.5,140c-4.142,0-7.5,3.358-7.5,7.5v15.117c-7.985-7.624-16.188-16.273-20.309-22.566c4.89-2.963,8.513-7.599,10.217-13.013C75.353,129.584,81.286,131,87.5,131c6.214,0,12.147-1.416,17.592-3.962c1.704,5.413,5.326,10.048,10.215,13.012c-4.122,6.291-12.323,14.939-20.307,22.564V147.5C95,143.358,91.642,140,87.5,140z M71.5,35h32c9.098,0,16.5,7.402,16.5,16.5v8.976c-17.082,0.703-48.197-0.687-64.654-12.338C56.903,40.647,63.554,35,71.5,35z M55,65.287c10.572,5.136,24.264,8.384,40.914,9.69c5.907,0.463,11.447,0.618,16.215,0.618c2.953,0,5.607-0.06,7.871-0.142V75.5c0,22.332-14.58,40.5-32.5,40.5S55,97.832,55,75.5V65.287z M23,164.798c0-7.113,4.534-13.404,11.282-15.653l11.15-3.717c8.641,15.303,34.16,37.198,37.216,39.791c1.4,1.188,3.125,1.781,4.852,1.781c1.726,0,3.453-0.594,4.852-1.781c3.057-2.593,28.569-24.48,37.216-39.791l11.15,3.717c6.748,2.249,11.282,8.54,11.282,15.653V196h-17v-8.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v8.5H55v-8.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v8.5H23.5c-0.168,0-0.333,0.009-0.5,0.013V164.798z M23.5,211h416c4.687,0,8.5,3.813,8.5,8.5s-3.813,8.5-8.5,8.5h-416c-4.687,0-8.5-3.813-8.5-8.5S18.813,211,23.5,211z M439.5,436h-416c-4.687,0-8.5-3.813-8.5-8.5s3.813-8.5,8.5-8.5h416c4.687,0,8.5,3.813,8.5,8.5S444.187,436,439.5,436z"/><path d="M278.5,260h-94c-4.687,0-8.5,3.813-8.5,8.5v110c0,4.687,3.813,8.5,8.5,8.5h94c4.687,0,8.5-3.813,8.5-8.5v-110C287,263.813,283.187,260,278.5,260z M272,372h-81v-97h81V372z"/><path d="M150.5,260h-94c-4.687,0-8.5,3.813-8.5,8.5v110c0,4.687,3.813,8.5,8.5,8.5h94c4.687,0,8.5-3.813,8.5-8.5v-110C159,263.813,155.187,260,150.5,260z M144,372H63v-97h81V372z"/><path d="M406.5,260h-94c-4.687,0-8.5,3.813-8.5,8.5v110c0,4.687,3.813,8.5,8.5,8.5h94c4.687,0,8.5-3.813,8.5-8.5v-110C415,263.813,411.187,260,406.5,260z M400,372h-81v-97h81V372z"/></g></svg></div>
                        <h4 class="pg_title">Witness Voting</h4>
                        <p>
                            Upvote for your favorite witnesses to elect them as block producers. You can upvote maximum 21 witnesses. Currently 21 witnesses are responsible for production of new blocks and ensuring and securing of breeze blockchain. This number will increase in future as chain grows.<br><br>
                            <b>What is a witness?</b><br>
                            Witnesses are the persons who run nodes (servers) of blockchain to produce new blocks.<br> <br>
                            <b>What witnesses earn as reward?</b><br>
                            Top 21 witnesses ranked by number of votes produce blocks. 15% of reward pool goes to witnesses. 1% goes to current block producer and 14% to previous 14 block producers. If any witness misses block, it goes to previous producer. <br><br>
                            <b>Who can become witness?</b><br>
                            Anyone who can run a server as per requirement of blockchain can become a witness. Check witness setup guide <a href="https://github.com/breeze-foundation/breeze/blob/main/docs/witnesses.md" target="_blank">here</a><br>
                            <b>Role of witnesses?</b><br>
                            Role of witnesses is just to produce and validate blocks for blockchain. Witnesses does not have any role in management as breeze blockchain is run under DAO system, so breeze DAO is the only authority to make decisions about projects.<br>
                            Important: With next hard fork, IG (Inspector general) of witnesses will be taking charge of all upvoting for witnesses to ensure that only competitive witnesses are upvoted as top block producers. Simple criteria for selection of witnesses will be their approach towards development of breeze project.<br>
                        </p>
                        <table class="table table-hover table-bordered witness-table" style="min-width:96%">
                            <thead>
                                <tr style="background: #3eaef3;text-align: center;">
                                    <th scope="col">Rank</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Votes</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody><% witnesses.forEach(function(witness) { let appr = JSON.stringify(approved) %>
                                <tr style="text-align: center;">
                                    <td></td>
                                    <td class="align-middle"><%- witness.name %></td>
                                    <td class="align-middle"><%- numFormatter((witness.node_appr)/100) %></td>
                                    <td><% if((appr) && appr.includes(witness.name)){ %><button class="btn btn-danger btn_unapp_wit btn_wit" data-node="<%- witness.name %>"><span class="btn_txt_unapp">unapprove</span></button><%  }else{ %><button class="btn btn-success btn_app_wit btn_wit" data-node="<%- witness.name %>"><span class="btn_txt_app">Approve</span></button><% } %></td>
                                </tr><% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<%- include('./common/footer') %>